<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSFortsOfMaharashtra.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E74964FC1D608AB000241705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74965151D608AB100241705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74965201D608AB100241705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
